<footer op-60>
  <p mt-6 text-sm text-slate>
    <a href='https://ykload.cn'>上线于3月3日，正测试，可能需外网环境。欢迎关注YKload。Developed By Akko!<br>路由:[你的位置]-[DNSPod]-[腾讯云香港机房]-[YKload主服务]-[CN2国际专线]-[OPENAI服务]<br>服务自费，请勿滥用<a>

  </p>
</footer>
