<footer op-60>
  <p mt-6 text-sm text-slate>
    <a>上线于3月3日，正测试，请勿滥用<br>欢迎关注YKload。Developed By Akko!<br><a>
    <a href='https://ykload.cn'>Copyright © 2022 - 2023 YKload.cn<a>
    <a>v0.9<a>

  </p>
</footer>
