---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script async defer data-website-id="918699fd-0704-408b-bda3-3f28c1bd9d1b" src="https://stats.ddiu.io/app.js"></script>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background-image:url(https://web-1259756460.cos.ap-chengdu.myqcloud.com/background.jpeg?q-sign-algorithm=sha1&q-ak=AKIDdPNW2lGTa-bkKcoOWcsXYTIGTxHCat-MN2LEL2qfhNk_S5fuVweCCrxCCslHi1xE&q-sign-time=1677935138;1677936038&q-key-time=1677935138;1677936038&q-header-list=&q-url-param-list=&q-signature=8f7abbe1235705d629155d485ec48828a0d95d09&x-cos-security-token=2Oas7peR96DlCSgaSuzpqnjy7nNi83ua53e4cec1a35d4a8ad0574da2fc812f1dUixnYrcowLzTqHq3q9p6P3n9pJuTt34yxhYpekfxQLzUsloWNttpIhHTXeVHeXrnaDaQLC7FLQUUVY_x7KwWnukpqO--kGq2c10JouEjLFafixh5Gxpd_S3ywQS2x0nFit3TKbokDO-zPu_j4AzQRWg6vRfSb6QB_BPvm3at4-h5fW8gL5uGMglNb1TCdZv5);
		color: #ffffff;
	}
	main {
		max-width: 70ch;
		margin: 0 auto;
		padding: 6rem 2rem 4rem;
	}
</style>
